name: Build ALL Images

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 1 * *'


# ONLY EVER RUN ONE
concurrency: ${{ github.workflow }}

jobs:
  generate-all-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}

    steps:
    - uses: actions/checkout@v6
      name: pulling the branch
      with:
        fetch-depth: 1

    - name: List Dockerfiles
      uses: tj-actions/glob@v22
      id: list-dockerfiles
      with:
        strip-top-level-dir: "true"
        files: |
          **/Dockerfile

    - name: build-matrix
      id: matrix
      run: |
        set -x
        touch images.list
        LIST=(${{steps.list-dockerfiles.outputs.paths}})
        jq --compact-output --null-input '{"images": [$ARGS.positional[] | split("/") | .[0]] | sort | unique}' --args -- "${LIST[@]}" > images.list

        if [ "$(jq '.images | length' images.list)" == "0" ]; then
          echo empty=true >> $GITHUB_OUTPUT
        else
          echo empty=false >> $GITHUB_OUTPUT
        fi
        echo matrix=$(cat images.list) >> $GITHUB_OUTPUT

    - name: Cancelling for empty matrix
      if: ${{ steps.matrix.outputs.empty == 'true' }}
      uses: andymckay/cancel-action@a955d435292c0d409d104b57d8e78435a93a6ef1

  build-images:
    needs: generate-all-matrix
    strategy:
      fail-fast: false
      matrix: ${{fromJson( needs.generate-all-matrix.outputs.matrix )}}
    uses: ./.github/workflows/build-image.yaml
    with:
      image-name: ${{matrix.images}}
      push: true
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
